<%-include("partials/header.ejs")%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 mt-5 align-items-center">
      <%if(books.length !== 0){%>
      <%for(let book of books){%>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0 justify-content-center ">
          <div class="col-md-4">
            <img src="<%=book.cover%>" class="img-fluid rounded-start" alt="<%=book.title%>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <form action="/view-card" method="post">
                <input type="hidden" value="" name="id">
                <button type="submit" class="nav-link card-title">
                  <%=book.title%>
                </button>
              </form>
              <p class="card-text"><%=book.description%></p>
              <p class="card-text"><small class="text-body-secondary">Last Modified: <%=book.note_date.toISOString().split('T')[0]%></small></p>
            </div>
          </div>
        </div>
      </div>
      <%}%>
      <%}else{%>
      <div class="d-flex justify-content-center align-items-center">
        <h2>No books yet.</h2>
      </div>
      <%}%>

    </div>
  </div>

</div>
<%- include ("partials/footer.ejs")%>